@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');

/* ----------- RESPONSIVE WEB DESIGN ----------- */  

/* Small screens */
@media only screen {
    #intro {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 1vh;
    }

    label {
        font-size: 14px;
        line-height: 1.5;
    }
    
    textarea, #email {
        width: 70vw;
        height: 5vh;
        font-size: 14px;
        padding: 0.5vh 1vw 0vh 2vw;
        border-radius: 33px;
    }

    #description-text { margin-top: 0vh; }

    #description-text-input {
        font-size: 16.5px;
        height: 12vh;
        width: 80vw;
    }

    #consent {
        margin-left: 2vw;
        font-size: 14px;
    }

    #can-contact-checkbox { margin-top: 0.5vh; }

    #stationary { display: none; }

    #submit-button {
        height: 5vh;
        width: 20vw;
        font-size: 14px;
        margin-top: 2vh;
    }
} /* Define mobile styles */

/* Medium screens */
@media only screen and (min-width: 40.063em) {
    #intro {
        font-size: 22px;
        margin-bottom: 2vh;
    }

    label { font-size: 18px; }
    
    textarea {
        width: 37vw;
        padding: 1vh 1vw 0vh 2vw;
    }
    
    #description-text { margin-top: 6vh; }

    #description-text-input { font-size: 14px; }

    #consent {
        margin-left: 1vw;
        font-size: 18px;
    }

    #can-contact-checkbox { margin: auto; }

    #stationary { margin-bottom: 2vh; }

    #caption-border {
        margin: 0 auto;
        height: 32px;
        width: 174px;
        background-size: 100% 100%;
    }

    #picture {
        height: 260px;
        width: 350px;
    }

    #submit-button { width: 10vw; }
} /* min-width 641px */

/* Large screens */
@media only screen and (min-width: 65.063em) {
    #intro { font-size: 24px; }

    label { font-size: 20px; }
    
    textarea, #email {
        width: 45vw;
        font-size: 18px;
    }

    #stationary { display: block; } 

    #description-text-input { font-size: 18px; }

    #consent {
        margin-left: 1vw;
        font-size: 20px;
    }

    #picture {
        height: 275px;
        width: 365px;
    }
} /* min-width 1025px */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) { 
    #intro { font-size: 32px; }

    label { font-size: 28px; }
    
    textarea, #email { font-size: 26px; }

    #description-text-input { font-size: 26px; }

    #consent { font-size: 28px;     }

    #can-contact-checkbox { margin: auto; }

    #submit-button { font-size: 28px; }
} /* min-width 1921px, xxlarge screens */

/* ----------- COMMON AMOUNG ALL SIZES ----------- */

#submission {
    /* border: solid 2px black; */
    display: block;
    text-align: left;
    width: 83vw;
    margin: 0 auto;
    top: 11.6vh;
    margin-bottom: 0;
}

#intro {
    /* border: solid 2px black; */
    margin-top: 0;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
}

label {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
}

textarea, #email {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    resize: none;
    background: rgba(255, 255, 255, 0.17);
    background-image: none;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
}

#description-text {
    /* border: solid 2px black; */
    display: block;
}

#description-text-input {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    color: white;
    columns: 40;
    row-gap: 5;
}

input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
}

#form-checkbox {
    /* border: solid 2px white; */
    margin-bottom: 0;
    display: flex;
    width: fit-content;
    height: fit-content;
}

#consent {
    /* border: solid 2px black; */
    vertical-align: middle;
}

#can-contact-checkbox {
    background: rgba(255, 255, 255, 0.21);
    border: solid 2px white;
    box-sizing: border-box;
    vertical-align: middle;
}

#submit-button {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    color: #000000;
}

#stationary {
    border: #FFFFFF solid 2px;
    position: relative;
}

#picture { object-fit: cover; }

#caption {
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
}

#caption-border {
    background-image: url("../../../../static/images/Rectangle-10.png");
    text-align: center;
    border: 1px #FFFFFF;
    box-sizing: border-box;
}

.error-message{
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    color: black;
}