@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display');

:root {
    --frameRotate: -3deg;
    --imgRotate: 3deg; 
}

/* ----------- RESPONSIVE WEB DESIGN ----------- */  

/* Small screens */
@media only screen {     
    #mobile-design { display: block; }
    #non-mobile-design { display: none; }
    
    #container {
        display: inline-block;
        margin-top: 0.5rem;
    }

    #subpage-description {
        margin: auto;
        margin-top: 1.7rem;
        font-size: 25px;
        text-align: center;
        height: 100px;
    }

    #image {
        display: flex;
        margin: auto;
        margin-bottom: 1rem;
    }

    #picture-frame {
        height: 220px;
        width: 280px;
        margin: auto;
    }
    
    #picture {
        height: 170px;
        width: 260px;
    }
} /* Define mobile styles */

/* Medium screens */
@media only screen and (min-width: 40.063em) { 
    #subpage-description { font-size: 35px; }
    #image { margin-bottom: 2rem; }
    #subpage-description { height: fit-content; }
    
    #picture-frame {
        height: 350px;
        width: 400px;
    }
    
    #picture {
        height: 310px;
        width: 350px;
    }
} /* min-width 641px, medium screens */

/* Large screens */
@media only screen and (min-width: 64.063em) {
    #mobile-design { display: none; }
    #non-mobile-design { display: block; } 
    
    #container { display: inline-flex; }

    #subpage-description {
        font-size: 375%;
        float: left;
        /* border: 2px solid black; */
        width: 45%;
        text-align: left;
        margin: auto;
        display: flex;
    }

    #image {
        float: right;
        position: relative;
        margin-bottom: 0;
    }

    #picture-frame {
        height: 440px;
        width: 490px;
    }
    
    #picture {
        height: 390px;
        width: 440px;
    }
} /* min-width 1025px, large screens */

/* XLarge screens */
@media only screen and (min-width: 90.063em) { 
    #picture-frame {
        height: 470px;
        width: 520px;
    }
} /* min-width 1441px, xlarge screens */




/* ----------- COMMON AMOUNG ALL SIZES ----------- */

#container {
    /* border: solid 3px black; */
    width: fit-content;
    height: fit-content;
}

#subpage-description {
    /* border: solid 3px white; */
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    color: #FF98B1;
}

#picture-frame {
    background-color: #FF98B1;
    -webkit-transform: rotate(var(--frameRotate));
    -ms-transform: rotate(var(--frameRotate));
    transform: rotate(var(--frameRotate));
    animation: rotation 0.5s linear;
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.25));
}

#picture {
    -webkit-transform: rotate(var(--imgRotate));
    -ms-transform: rotate(var(--imgRotate));
    transform: rotate(var(--imgRotate));
}
  
@keyframes rotation {
    from {
        -webkit-transform: rotate(var(--frameRotate) * 2);
        -ms-transform: rotate(var(--frameRotate) * 2);
        transform: rotate(var(--frameRotate) * 2);
    }
    to {
        transform: rotate(var(--frameRotate) * -2);
    }
}