#curr-feature-page {
    background: url("../../../static/images/cf_background.png");;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: auto;
}

#short-description {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
}

#featured-icon {
    display: inline-block;
}

#featured-info {
    margin-left: 100px;
    margin-top: 100px;
    display: flex;
    flex-flow: nowrap;
    flex-direction: column;
}

#full-description {
    margin-top: 100px;
}

#Back_btn{
    background: rgb(255, 255, 255);
    border-radius: 40px;
    position:absolute;
    cursor:pointer;
    font-family: Red Hat Display;
    font-weight: bold;
    font-size: 15px;
    margin-left:-10%;
    top: 12%;
    width:100px;
    height:45px;
}

#square1{
    height: 315px;
    width: 355px;
    border: 4px solid white;
    transform: rotate(20deg);
    margin-top: 100.9px;
    margin-left:340.18px;
    position:absolute;
    /* -webkit-animation:rotate1 30s infinite;
    animation: rotate1 30s infinite; */
}

#square2{
    height: 315px;
    width: 355px;
    border: 4px solid white;
    transform: rotate(-15deg);
    margin-top: 120px;
    margin-left:325.18px;
    position:absolute;
    -webkit-animation:rotate2 30s infinite linear;
    animation: rotate2 30s infinite linear;
}

@-webkit-keyframes rotate1{
    0% {transform:rotate(0deg);}
    33% {transform:rotate(108deg);}
    66% {transform:rotate(216deg);}
    100% {transform:rotate(360deg);}
}
  
@keyframes rotate1{
    0% {transform:rotate(0deg);}
    33% {transform:rotate(108deg);}
    66% {transform:rotate(216deg);}
    100% {transform:rotate(360deg);}
}

@-webkit-keyframes rotate2{
    33% {transform:rotate(-95deg);}
    66% {transform:rotate(-75deg);}
    100% {transform:rotate(-15deg);}
}
  
@keyframes rotate2{
    33% {transform:rotate(-95deg);}
    66% {transform:rotate(-75deg);}
    100% {transform:rotate(-15deg);}
}

#main_pic{
    height:340px;
    width:380px;
    position:relative;
    margin-top:90.99px;
    margin-left:330px;

}

#main_text{
    font-family: Playfair Display;
    font-weight:bold;
    font-size:75px;
    line-height:100px;
    color:white;
    margin: 0%;
}

#insta_pic{
    height:20px;
    width:20px;
}

#facebook_pic{
    height:21px;
    width:10px;
    margin-left:20px;
}

#twitter_pic{
    height:20px;
    width:20px;
    margin-left:20px;
}
#internet_pic{
    height:20px;
    width:20px;
    margin-left:20px;
}

#all_medias{
    background-color: rgb(196, 78, 117);
    border-radius: 40px;
    width:250px;
    height:55px;
    margin-bottom: 1rem;
}

#born{
    font-family:Playfair Display;
    font-size:22px;
    color:white;
    text-align:left;
    margin-top: 0%;
}

#worth{
    font-family:Playfair Display;
    font-size:22px;
    color:white;
    text-align:left;
    margin: 0%;
}

#partner{
    font-family:Playfair Display;
    font-size:22px;
    color:white;
    text-align:left;
    margin-top: 0%;
}

#LG{
    font-family:Playfair Display;
    font-size:22px;
    color:white;
    text-align:left;
    margin-top: 0%;
}

.para {
    color:white;
    font-family: Playfair Display;
    font-weight: lighter;
    font-size: 1.2em;
    line-height:24px;
    margin-left:17%;
    margin-right: 17%;
    text-align:left;
}

@media only screen and (min-width : 320px) {

}

@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {

}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {

}