:root {
    --fade-in-time: 0.5s; 
}

/* Foundation */

/* Small screens */
@media only screen {

    #m2 {
        font-size: 32px;
    }

    .feature-search {
        width: 100%;
    }

    .featured-contents {
        margin-left: 0%;
        column-gap: 0%;
    }

    #name {
        margin-left:15px;
    }

    #img, #namerec, .picdet, #details {
        width: 215px;
    }

    .picdes, #pichead {
        margin-left: 24px;
    }

    .arrow-container {
        margin-right: 2vw;
    }
} /* Define mobile styles */

/* Medium screens */
@media only screen and (min-width: 40.063em) {

    #m2 {
        font-size: 40px;
    }

    .feature-search {
        width: 50%;
    }
    
    .featured-contents {
        margin-left: 3%;
        column-gap: 3%;
    }

    #name {
        margin-left:35px;
    }

    .picdes, #pichead {
        margin-left: 34px;
    }

    #img, #namerec, .picdet, #details {
        width: 250px;
    }

    .arrow-container {
        margin-right: 12vw;
    }
} /* min-width 641px, medium screens */

/* Large screens */
@media only screen and (min-width: 64.063em) {

    #arrow-small {
        display: none;
    }

    #img, #namerec, .picdet, #details {
        width: 230px;
    }

    .featured-contents {
        margin-left: 1%;
        column-gap: 1.5%;
    }

    #name {
        margin-left:25px;
    }

    .picdes, #pichead {
        margin-left: 24px;
    }

    .arrow-container {
        margin-right: 5vw;
    }
} /* min-width 1025px, large screens */

/* XLarge screens */
@media only screen and (min-width: 90.063em) {

    #img, #namerec, .picdet, #details {
        width: 250px;
    }

    .featured-contents {
        margin-left: 5%;
        column-gap: 7%;
    }
    
    #name {
        margin-left:35px;
    }

    .picdes, #pichead {
        margin-left: 34px;
    }

    .arrow-container {
        margin-right: 8vw;
    }
} /* min-width 1441px, xlarge screens */

#feature-page {
    background: url(../../../static/images/home4-background.png);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: auto;
    z-index: -1;
    overflow-x: none;
}

.feature-container {
    height: 100%;
    width: 100%;
}

.feature-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:50px;
}

#afbar {
    width:100%;
    height:50px;
    background-color:white;
    opacity:0.4;
    position: absolute;
}

.dropdown {
    display: inline-block;
    z-index: 2;
}

.dropdown_content {
    display:none;
    position:absolute;
    width:100px;
    overflow: auto;
    color:white;
    font-size:20px;
    text-align:center;
    padding:5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown_content {
    display: block;
    background-color: black;
}

#months {
    color:white;
    font-size: 20px;
    text-align: center;
    height: 90%;
    width: 85px;
}

#search_bar {
    background-color: transparent;
    border-color:transparent;
    height:5vh;
    width:400px;
    background-image: url(../../../static/images/mag.png);
    background-repeat:no-repeat;
    background-position: 0px center;
    padding-left: 30px;
    margin-left: 2vw;
    z-index: 2;
}

::placeholder {
    color:white;
    font-size:20px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#nominatebar {
    width:100%;
    height:250px;
    background-color:black;
    opacity:0.5;
    margin-bottom: 2em;
}

.nominatebartxt{
    color:white;
    font-family: Red Hat Display;
    font-size:25px;
    width:100%;
    padding-top: 0.1em;
    margin-top: 0.8em;
    text-align:center;
}

#nominate_button{
    cursor: pointer;
    background-color:white;
    border-radius: 40px;
    width:80px;
    height:30px;
    position:absolute;
    margin-left:-30px;
}

#featured-contents-wrapper {
    /* border: solid 2px black; */
    margin: auto;
    display: inline-flex;
    min-width: 100%;
    max-width: 100%;
    width: min-content;
}

#featured-list-and-arrow {
    /* border: solid 2px red; */
    width: min-content;
    margin: auto;
}

#featured-list-wrapper {
    /* border: solid 2px aqua; */
    display: inline-flex; 
    min-width: max-content;
    max-width: min-content;
}

#featured-contents {
    /* border: solid 2px red; */
    display: inline-flex;
    width: min-content;
    /* width: 100%; */
}

#featured-month-list {
    /* border: 2px solid green; */
    overflow: hidden;
    display: inline-block;
    width: max-content;
}

#featured-month-people {
    display: inline-flex;
}

#featured-date2 {
    /* border: solid 2px yellow; */
    color:#F6B6B6;
    font-family: Red Hat Display;
    font-size: 40px;
    font-weight: 700;
    padding-left: 30px;
}

#featured-person {
    /* border: solid 2px yellow; */
    display: inline-flex;
    padding: 0 30px 0 30px;

    -webkit-animation: fadein var(--fade-in-time);
    -moz-animation: fadein var(--fade-in-time);
    -ms-animation: fadein var(--fade-in-time);
    -o-animation: fadein var(--fade-in-time);
    animation: fadein var(--fade-in-time);
}

.arrow-container {
    /* border: solid 2px pink; */
    height: min-content;
    width: min-content;
    margin: auto;
    margin-left: 0;
    cursor: pointer;
}