:root {
    --color: #FF98B1;
}

/* ----------- RESPONSIVE WEB DESIGN ----------- */  

/* Small screens */
@media only screen {
    #mobile-design-home {display: inline-block;}
    #non-mobile-design-home {display: none;} 
    
    #subpage-header { font-size: 24px; }
    #titles-and-buttons { margin-left: 0.7rem;}
    #play-and-pause-btn { font-size: 24px; }
    #main-content { width: fit-content; }

    #main-footer-wrapper {
        margin-top: 3.2rem;
    }

    #learn-more {
        display: inline-block;
    }
    
    #learn-more-btn { 
        font-size: 12px;
        line-height: 30px;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 0;
    }
} /* Define mobile styles */

/* Medium screens */
@media only screen and (min-width: 40.063em) { 
    #subpage-header { font-size: 28px; }
    #play-and-pause-btn { font-size: 28px; }
    #learn-more-btn { 
        font-size: 18px;
        line-height: 40px;
        padding-left: 40px;
        padding-right: 40px;
    }
} /* min-width 641px */

/* Large screens */
@media only screen and (min-width: 65.063em) {
    #mobile-design-home { display: none; }
    #non-mobile-design-home {
        display: inline-flex;
        width: 90vw;
    }  
    
    #subpage-header { font-size: 34px; }
    #titles-and-buttons { margin-left: 0rem;}
    #play-and-pause-btn { font-size: 34px; }
    #main-content-wrapper { margin-top: 2rem; }
    #main-content {
        display: inline-block;
        width: 87vw;
    }

    #footer-time { font-size: 24px; margin-left: 0;}
    #learn-more {
        margin: auto;
        margin-right: 0;
    }
    #learn-more-btn { 
        font-size: 22px;
        line-height: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
    #slider { margin-right: 0; }
} /* min-width 1025px */

/* XLarge screens */
@media only screen and (min-width: 90.063em) { 
    #non-mobile-design-home { width: 80vw; } 
    #subpage-header { font-size: 40px; }
    #play-and-pause-btn { font-size: 40px; }
    #main-content { width: fit-content; }
    #footer-time { font-size: 30px; }
} /* min-width 1441px, xlarge screens */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) { 
    #non-mobile-design-home { width: 70vw; } 
    #subpage-header { font-size: 48px; }
    #play-and-pause-btn { font-size: 48px; }
    #footer-time { font-size: 34px; }
} /* min-width 1921px, xxlarge screens */




/* ----------- COMMON AMOUNG ALL SIZES ----------- */

#home-page {
    background-size: cover;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: auto;
    transition: transform .4s ease-in-out;
    overflow: scroll;
}

#main-content-wrapper {
    /* border: 2px solid yellow; */
    width: 100vw;
}

#main-content {
    /* border: solid 3px red; */
    height: fit-content;
    margin: auto;
    display: block;
}

#titles-and-buttons {
    /* border: solid 3px white; */
    display: grid;
    width: fit-content;
    height: fit-content;
    /* position: absolute; */
}

#subpage-header {
    /* border: solid 3px white; */
    color: white;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    /* font-size: 40px; */
    float: left;
    margin: 0;
    height: min-content;
}

#play-and-pause {
    /* border: solid 3px white; */
    width: min-content;
    height: min-content;
    position: relative;
    display: inline-flex;
}

#play-and-pause-btn {
    color: white;
    cursor: pointer;
}

#home-frame {
    /* border: solid 2px black; */
    margin-top: 2vh;
    position: absolute;
    display: inline-block;
    height: fit-content;
    width: min-content;
}

#main-footer-wrapper {
    /* border: 2px solid black; */
    width: 100vw;
}

#main-page-footer {
    margin: auto;
    /* border: solid 2px black; */
    display: flex;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: white;
    width: fit-content;
    height: min-content;
}

#footer-time {
    /* border: solid 2px black; */
    float: left;
    height: fit-content;
    width: fit-content;
    margin-right: 0;
}

#learn-more {
    /* border: solid 2px black; */
    width: fit-content;
    height: fit-content;
    /* margin: auto; */
}

#learn-more-btn {
    border-radius: 40px;
    background-color: white;
    color: black;
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.25));
    opacity: 80%;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
}

#arrows {
    position: relative;
    display: block;
    height: 4.5vh;
    margin: auto;
    margin-top: 1rem;
}

#slider {
    margin: auto;
    margin-right: 0;
    /* border: solid 2px black; */
    width: fit-content;
    height: fit-content;
    float: right;
}

/***********  SLIDER  *************/
.pindicator {
    display: flex;
    margin: auto 0;
    width: 30rem;
}

.pindicator .bullet {
    flex: 1;
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
}

.pindicator .bullet::before {
    background-color: var(--color);
    content: '';
    display: block;
    position: absolute;
    height: .35rem;
    top: 1.25rem;
    margin-top: 1.1rem;
    transform: translate3d(0, 0, -1px);
}

.pindicator .bullet::before { width: 100%; }

.pindicator .bullet:first-child::before,
.pindicator .bullet:first-child::after {
    left: 50%;
    width: 50%;
}
.pindicator .bullet:last-child::before,
.pindicator .bullet:last-child::after { width: 50%; }

.pindicator .icon {
    border: 4px var(--color) solid;
    background-color: var(--color);
    border-radius: 100%;
    cursor: pointer;
    font-size: 1.5rem;
    display: inline-block;
    height: 0.7em;
    width: 0.7em;
    line-height: 2;
    text-align: center;
    transition: background-color .25s ease-out;
}

.pindicator .text {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color .25s ease-out;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
}