@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');

/* ----------- RESPONSIVE WEB DESIGN ----------- */  

/* Small screens */
@media only screen {
    #footer-intro-non-mobile { display: none; }
    #footer-text {
        font-size: 25px;
        line-height: 30px;
        margin: auto;
    }

    #share-icon { font-size: medium; }

    #wrapper { padding-left: 5vw; }

    #icon { font-size: 1px; }
    
    #web-social-div { margin-left: 0.5vw; }
} /* Define mobile styles */

/* Medium screens */
@media only screen and (min-width: 40.063em) {
    #footer-intro-non-mobile {display: inline; }
    
    #footer { padding-bottom: 1vh; }
    
    #wrapper { padding-left: 3vw; }
} /* min-width 641px */

/* Large screens */
@media only screen and (min-width: 65.063em) {
    #footer-text {
        font-size: 30px;
        line-height: 40px;
    }
} /* min-width 1025px */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) { 
    #footer-text {
        font-size: 35px;
        line-height: 45px;
    }
} /* min-width 1921px, xxlarge screens */

/* ----------- COMMON AMOUNG ALL SIZES ----------- */

#footer {
    /* border: solid 2px blue; */
    height: fit-content;
    padding-bottom: 1vh;
}

#wrapper {
    /* border: solid 2px yellow; */
    height: fit-content;
    width: fit-content;
    display: flex;
}

#footer-text {
    /* border: solid 2px black; */
    font-family: Red Hat Display;
    font-style: normal;
    color: white;
    float: left;
}

/* #web-social-div { border: solid 2px green; } */

#share-icon { margin: auto; }

#webSocialList {
    /* border: solid 2px black; */
    list-style: none;
    position: relative;
    color: white;
    border-radius: 25px;
    display: inline-flex;
    padding-left: 1vh;
    padding-right: 1vw;
    padding-bottom: 0;
}

#webSocialList:hover {
    color: black;
    background-color: #fff;
    border-radius: 25px;
    float: left;
}

#webSocialList:hover .list-icon {
    visibility: visible;
    cursor: pointer;
}

#webSocialList .list-icon { visibility: hidden; }
